params.conda_env = '/mnt/bigdisk/miniconda3/envs/env_version1'


profiles{
	conda {
		process.conda = params.conda_env
	}
		
}


params{
	path_to_reads = './Raw_data/test_set/*{R1,R2}.fastq.gz'
	path_to_reference = '/mnt/bigdisk/Quality_performance_of_WGS_analysis_pipelines/Raw_data/jejuni*'
	path_to_bowtie2_index = '/mnt/bigdisk/Quality_performance_of_WGS_analysis_pipelines/Raw_data/test_set/Reference/jejuniref2'
	path_to_scripts = '/mnt/bigdisk/Documents/Quality_performance_of_WGS_analysis_pipelines/scripts'
	
	trimmomatic = false
	fastp_trim_qc = false
	assembly_improvement = false
	no_trim = true

	
	fastqc_set = ''
	fastp_set = ''
	trimmomatic_set = 'SLIDINGWINDOW:4:15 MINLEN:36'
	spades_set = '--only-assembler -m 8'
	skesa_set = ''
	
	

}
