params.conda_env = '../miniconda3/envs/env_version1'


profiles{
	conda {
		process.conda = params.conda_env
	}
		
}

	no_trim = true
	filter_contigs = false
	assembly_improvement = true
	fastp_trim_qc = false
	trimmomatic = false
	fastqc_set = ''
	fastp_set = ''
	trimmomatic_set = 'SLIDINGWINDOW:4:15 MINLEN:36'
	spades_set = '--only-assembler'
	skesa_set = ''
	filter_set = '300'

}
