params.conda_env = '/home/chelsea/miniconda3/envs/env_version1'


profiles{
	conda {
		process.conda = params.conda_env
	}
		
}


params{
	path_to_reads = './Raw_data/test_set/*{R1,R2}.fastq.gz'
	path_to_reference = './Raw_data/test_set/Reference/jejuniref2*'
	trimmomatic = false
	fastp_trim_qc = false
	assembly_improvement = false
	


}
